code/data_analysis/dataset/
code/data_analysis/rooftile_dataset_complete_rescaled/
code/data_analysis/dataset_rooftile_small/
code/data_analysis/dataset_rooftile_640/
code/data_analysis/dataset_rooftile_keep_ratio_640/
